:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --tertiary-text-color: #ffffff;
    --address-color: rgba(255, 255, 255, 0.6);
    --accent-color: #2196f3;
    --logo-color: #000000;
    --page-header-bc: #ececec;
    --body-bc: #f5f5f5;
    --body-text-color: #212121;
    --page-title-bc: #2f303a;
    --footer-bc: #2f303a;
    --button-bc: #f5f4fa;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    background-color: var(--tertiary-text-color);
    color: var(--body-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-images {
    padding-top: 0;
}

.page-header {

    border-bottom-width: 1px;
    border-bottom-color: var(--page-header-bc);
    border-bottom-style: solid;

}

.page-header .container {
    display: flex;
    align-items: center;
}

/* Header */

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.site-nav {
    display: flex;
    align-items: center;
}


.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-color);
    text-decoration: none;
}

.colortext {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--tertiary-text-color);
    text-decoration: none;
}

/* Navigation */

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 93px;



}

.nav-list .item+.item {
    margin-left: 50px;

}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.link-current {
    display: block;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--accent-color);
}

.site-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.site-list .item+.item {
    margin-left: 50px;
}

.link-mail-header {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.link-mail-header:hover,
.link-mail-header:focus {
    color: var(--accent-color);
}

.envelope-icon {
    margin-right: 10px;
    fill: currentColor;
}


.phone-icon {
    margin-right: 10px;

}

.phone-icon:hover {
    fill: var(--accent-color);
}

.link-phone {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.link-phone:hover,
.link-phone:focus {
    color: var(--accent-color);
}

/* Hero */
.hero {
    background-color: var(--page-title-bc);
    padding: 200px 0;
}

.page-title {
    margin-right: auto;
    margin-left: auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--tertiary-text-color);
}

.main-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    font-family: inherit;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--tertiary-text-color);
    padding: 10px 32px;
}

.main-button:hover,
.main-button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* main content */

.properties-list {
    display: flex;
}

.properties-list .item+.item {
    margin-left: 30px;
}

.properties-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.properties-text {
    margin-top: 10px;
    line-height: 1.7;
    color: var(--secondary-text-color);
}



.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: var(--primary-text-color);
}

.image-list {
    display: flex;
    align-items: center;
}

.image-list .item+.item {
    margin-left: 30px;
}

.our-team {
    background-color: #f5f4fa;
}

.workers-list {
    display: flex;
}

.workers-list .item-workers+.item-workers {
    margin-left: 30px;

}

.item-workers {
    background: var(--tertiary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.workers {
    padding: 30px 0;
}

.title-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--primary-text-color);
}

.section-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--secondary-text-color);
}

/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bc);
}

.logo-footer {
    margin-top: 60px;
}

.footer-address {
    margin-top: 20px;
    font-style: normal;
}


.list-footer .item:nth-child(n + 2) {
    margin-top: 9px;
}

.link-address {
    font-weight: 400;
    line-height: 1.7;
    color: var(--tertiary-text-color);
    text-decoration: none;
}

.link-address:hover,
.link-address:focus {
    color: var(--accent-color);
}

.link-mail {
    font-weight: 400;
    line-height: 1.7;
    color: var(--address-color);
    text-decoration: none;
}

.link-mail:hover,
.link-mail:focus {
    color: var(--accent-color);
}

.link-number {
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    color: var(--address-color);
    text-decoration: none;
}

.link-number:hover,
.link-number:focus {
    color: var(--accent-color);
}

.button-list {
    display: flex;
    justify-content: center;
}

.button-list .item+.item {
    margin-left: 9px;
}

.portfolio-btn {
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--button-bc);
    letter-spacing: 0.03em;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--logo-footer);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;

}

.cards {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}

.text {
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.8;
    color: var(--secondary-text-color);
}